
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <center>
        @*
            HTML Tag
        *@
        
      @*   <a href="/Home/Index" class="btn btn-danger">Index</a>
        <a href="/Home/AboutUs" class="btn btn-danger">AboutUs</a>
        <a href="/Home/ContactUS" class="btn btn-danger">ContactUs</a>
        <a href="/Home/Privacy" class="btn btn-danger">Privacy</a> *@

        @*
            HTML Helper
        *@
@* 
        @Html.ActionLink("Index", "Index", "Home", null, new {@class="btn btn-danger"})
        @Html.ActionLink("AboutUs", "AboutUs", "Home", null, new { @class = "btn btn-danger" })
        @Html.ActionLink("ContactUs", "ContactUs", "Home", null, new { @class = "btn btn-danger" })
        @Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "btn btn-danger" }) *@

        @*Tag Helper*@

        <a asp-controller="Home" asp-action="Index"class="btn btn-danger">Index</a>
        <a asp-controller="Home" asp-action="AboutUs" class="btn btn-danger">AboutUs</a>
        <a asp-controller="Home" asp-action="ContactUs" class="btn btn-danger">ContactUs</a>
        <a asp-controller="Home" asp-action="Privacy" class="btn btn-danger">Privacy</a>

    </center>
    <div>
        @RenderBody()
    </div>
    <footer>
        <center>
            CopyRights Route Academy @DateTime.Now.Year
        </center>
    </footer>
</body>
</html>
